body{
    margin: 0px;
    background-color: #222;
    color: #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
    color: #eee


}

.nombre{
    padding: 6px 20px;
}

input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;

}

option{
    background-color: #222;

}

textarea{
    min-width: 100%;
    resize: none;
    min-width: 102px;
    form-sizing: content;
}

label {
    font-size: 0.9em;
    line-height: 2;

}



